/* Write your CSS here */
.app-item-container {
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.image {
  height: 90px;
}

.name {
  font-weight: 600;
}
